.cam-button {
    background-color: #e86080 !important;
    color: aliceblue !important;
}

/* .cam-con{
    position: absolute;
    height: calc(100vh - 2em);
    left: 0;
    top:0;
    width: 100%;
} */

.image-result{
    width: 100%;
    max-width: 400px;
    
}